.conteiner {
    margin: 0;
    padding: 0;
  
    min-width: 320px;
    min-height: 100vh;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "header"
    "main"
    ;
    
  }
  
  .header-area{
    grid-area: header;
  }
  .main-area{
    grid-area: main;
  }

  ol{
    padding: 0;
  }

  .button-circle{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: #0000001f;
    color: white;
    padding: 0px;
}